@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

.header {
  background: #ffffff;
  padding: 0px;
  text-align: center;
}

.logo::before {
  font-family: 'Praise', cursive;
  font-size: 28px;
  color:rgb(71, 71, 71);
  content: 'imnrg';
  background: #ffffff;
  padding-left: 20px;
}
